In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import colorama
import os
import json

from typing import Literal, Union

In [14]:
serials = pd.read_excel('./112_1.xlsx',)
serials

,國立政治大學 112學年度第1學期 學生點名冊,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,開課系級：,04300 應物所,科目名稱：,043024001 物理學史與人類文明,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,任課教師：,113460 楊志開 先生,上課時間 / 教室：,三78E (wed16-19) / 大智190101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,選課限制人數：,120人,學分數：,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,列印日期：,1120925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,69,資訊一,112703033,"黃柏誠HUANG, PO-CHENG",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,70,資訊一,112703043,"彭啟則PENG, QI-TZE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,71,資訊一,112703056,"白曜銘PAI, YAO-MING",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,72,資訊二,111703006,"周偉杰CHOU, WEI-CHIEH",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,73,資訊四,109703049,葉洸丞YEH KUANG CHENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
new = pd.DataFrame(
    serials.iloc[6:, 0:4],
    # columns=raw.iloc[5, 0:4]
)
new.rename(columns=serials.iloc[5, 0:4], inplace=True)
new.index = np.arange(len(new))
new

     序號    系級          學號                    姓名
0    1   中四乙   109101102          江灝HAO,JIANG
1    2   教二    111102014      劉昭邑LIU, ZHAO-YI
2    3   教四    109102056     駱采纓LO, TSAI-YING
3    4   史一    112103049    廖玄慈LIAO,HSUAN-TZU
4    5   史二    111103043      戴睿紘TAI,RUI-HONG
..  ...   ...         ...                   ...
68  69   資訊一   112703033   黃柏誠HUANG, PO-CHENG
69  70   資訊一   112703043      彭啟則PENG, QI-TZE
70  71   資訊一   112703056     白曜銘PAI, YAO-MING
71  72   資訊二   111703006   周偉杰CHOU, WEI-CHIEH
72  73   資訊四   109703049   葉洸丞YEH KUANG CHENG

[73 rows x 4 columns]

In [40]:
new.to_excel('./112_1-test-export.xlsx', index=False)

## Preparing

In [56]:
revised = new.copy()
revised["組別"] = ''
revised = revised.reindex(columns=['序號', '組別', '系級', '學號', '姓名'])
revised

     序號 組別    系級          學號                    姓名
0    1      中四乙   109101102          江灝HAO,JIANG
1    2      教二    111102014      劉昭邑LIU, ZHAO-YI
2    3      教四    109102056     駱采纓LO, TSAI-YING
3    4      史一    112103049    廖玄慈LIAO,HSUAN-TZU
4    5      史二    111103043      戴睿紘TAI,RUI-HONG
..  ... ..   ...         ...                   ...
68  69      資訊一   112703033   黃柏誠HUANG, PO-CHENG
69  70      資訊一   112703043      彭啟則PENG, QI-TZE
70  71      資訊一   112703056     白曜銘PAI, YAO-MING
71  72      資訊二   111703006   周偉杰CHOU, WEI-CHIEH
72  73      資訊四   109703049   葉洸丞YEH KUANG CHENG

[73 rows x 5 columns]

In [43]:
copy_col_name = revised["姓名"].str.strip()
copy_col_name

0            江灝HAO,JIANG
1        劉昭邑LIU, ZHAO-YI
2       駱采纓LO, TSAI-YING
3      廖玄慈LIAO,HSUAN-TZU
4        戴睿紘TAI,RUI-HONG
             ...
68    黃柏誠HUANG, PO-CHENG
69       彭啟則PENG, QI-TZE
70      白曜銘PAI, YAO-MING
71    周偉杰CHOU, WEI-CHIEH
72    葉洸丞YEH KUANG CHENG
Name: 姓名, Length: 73, dtype: object

### test

In [44]:
tmp = copy_col_name.str.find("戴睿紘")
for i in range(len(tmp)):
    if tmp[i] != -1:
        print(i)
        break

4

In [45]:
# wanted_names = ["劉芷妤", "楊依庭", "沈若昀", "羅宏益", "陳威仁"]
# name_index = []

# for name in wanted_names:
#     tmp = copy_col_name.str.find(name)
#     for i in range(len(tmp)):
#         if tmp[i] != -1:
#             name_index.append(i)
# name_index

In [46]:
# filtered = revised.iloc[name_index, :]
# revised.loc[name_index, ["組別"]].astype(str)
# revised.loc[name_index, ["組別"]] = "1"
# revised.loc[name_index, :]

### implement

In [47]:
groups = {
    1: ["劉芷妤", "楊依庭", "沈若昀", "羅宏益", "陳威仁"],
    2: ["廖玄慈", "戴睿紘", "林彥儒", "柯思妤", "馬詣翔", "龔婕瑄"],
    3: ['張誠亮', '彭啟則', '洪晧烜', '游兆愷', '陳厚在', '黃柏誠'],
    4: ['余廷威', '吳泯塵', '曾允帝', '梁家豪', '沈子鑑', "鄭鈞宏"],
    5: ['劉昭邑', '林暄達', '柯卓康', '白曜銘', '陳昱綸', '駱采纓'],
    6: ['呂家華', '林佳儀', '江灝', '王彤家', '邱梓倩', '黃楨淇'],
    7: ['古孟庭', '朱泊靜', '葉洸丞', '邱芊樺', '陳令承', '陳星佑'],
    8: ['呂泓穎', '周偉杰', '嚴吳宗祐', '石芷瑜', '蔡志承', '連樂庠', '陳欣妤'],
    9: ['施佳良', '樂亭麒', '王安睿', '蔡承叡', '陳怡帆', '黃永豪'],
    10: ['李嘉恩', '李若華', '王采逸', '蘇昭榮', '謝允文', '賴玟庭'],
    11: ['彭郁昇', '王勛', '盧瑞晨', '許佑誠', '郭林洧', '顏呈安'],
    12: ['余重岳', '劉冠昕', '劉宗軒', '汪明冠', '許凱程', '郭大呈'],
}
group_name_index = {}
# json.dump(groups, open('./group.json', 'w', encoding='utf-8'), ensure_ascii=False)

In [57]:
fileLocations = {
  "attend": "./112-1_物理學史出席程式用.xlsx",
  "hw": "./112-1_物理學史作業程式用.xlsx"
}
# json.dump(groups, open('./ta_support_files.json', 'w', encoding='utf-8'), ensure_ascii=False)

In [61]:
for k, v in groups.items():
    group_name_index[k] = []
    for name in v:
        tmp = copy_col_name.str.find(name)
        for i in range(len(tmp)):
            if tmp[i] != -1:
                group_name_index[k].append(i)
                
    print("|====================================")
    print("| - Group", k, ":", group_name_index[k], len(group_name_index[k]), "students")
    
    filtered = revised.iloc[group_name_index[k], :]
    revised.loc[group_name_index[k], ["組別"]].astype(str)
    revised.loc[group_name_index[k], ["組別"]] = str(k)
    print(revised.loc[group_name_index[k], :])

|====================================
| - Group 1 : [57, 20, 21, 15, 67] 5 students
     序號 組別    系級          學號                 姓名
57  58   1  韓三    109507017    劉芷妤LIOU,ZHI-YU
20  21   1  金融二   111302037   楊依庭YANG YI TING
21  22   1  金融二   111302059   沈若昀SHEN,RUO-YUN
15  16   1  經三甲   110208019    羅宏益LUO,HONG-YI
67  68   1  心二    111702038               陳威仁
|====================================
| - Group 2 : [3, 4, 56, 50, 22, 34] 6 students
     序號 組別    系級          學號                     姓名
3    4   2  史一    112103049     廖玄慈LIAO,HSUAN-TZU
4    5   2  史二    111103043       戴睿紘TAI,RUI-HONG
56  57   2  日四    109506034         林彥儒LIN,YEN-JU
50  51   2  英三甲   110501005         柯思妤KO, SZU-YU
22  23   2  金融二   111302060      馬詣翔MA, YI-HSIANG
34  35   2  資一乙   112306086   龔婕瑄GONG, JIE-SHIUAN
|====================================
| - Group 3 : [39, 69, 53, 28, 62, 68] 6 students
     序號 組別    系級          學號                       姓名
39  40   3  財管一   112307021   張誠亮ZHANG, CHENG-LIANG
69  70   3  資訊一   112703043         彭啟則PENG, QI-TZE
53  54   3  斯四甲   109504009        洪晧烜HUNG,HAO XUAN
28  29   3  統四    109304043         游兆愷YU, CHAO-KAI
62  63   3  法二乙   111601044         陳厚在CHEN,HOU-ZAI
68  69   3  資訊一   112703033      黃柏誠HUANG, PO-CHENG
|====================================
| - Group 4 : [17, 16, 38, 5, 49, 60] 6 students
     序號 組別    系級          學號                     姓名
17  18   4  民三    110209048        余廷威YU,TING-WEI
16  17   4  民三    110209005       吳泯塵WU, MIN-CHEN
38  39   4  資三甲   110306077       曾允帝YUN-DI TSENG
5    6   4  政三    110202023                   梁家豪
49  50   4  傳二乙   111405026    沈子鑑SHEN, TZU-CHIEN
60  61   4  法一乙   112601158   鄭鈞宏CHENG, CHUN-HUNG
|====================================
| - Group 5 : [1, 25, 55, 70, 32, 2] 6 students
     序號 組別    系級          學號                  姓名
1    2   5  教二    111102014    劉昭邑LIU, ZHAO-YI
25  26   5  統一    112304033     林暄達LIN,XUAN-DA
55  56   5  日四    109506004   柯卓康OR CHEUK HONG
70  71   5  資訊一   112703056   白曜銘PAI, YAO-MING
32  33   5  資一甲   112306069    陳昱綸CHEN, YU-LUN
2    3   5  教四    109102056   駱采纓LO, TSAI-YING
|====================================
| - Group 6 : [35, 18, 0, 51, 29, 13] 6 students
     序號 組別    系級          學號                    姓名
35  36   6  資二甲   111306055                  呂家華
18  19   6  貿三乙   110301058       林佳儀LIN,CHIA-YI
0    1   6  中四乙   109101102          江灝HAO,JIANG
51  52   6  阿四    109502013   王彤家WANG, TUNG-CHIA
29  30   6  企二乙   111305030   邱梓倩CHIU, TZU-CHIEN
13  14   6  經一乙   112208008     黃楨淇HUANG,ZHEN-QI
|====================================
| - Group 7 : [58, 19, 72, 59, 41, 9] 6 students
     序號 組別    系級          學號                    姓名
58  59   7  韓四    109507006      古孟庭KU,MENG-TING
19  20   7  貿四乙   107301034      朱泊靜CHU,PO-CHING
72  73   7  資訊四   109703049   葉洸丞YEH KUANG CHENG
59  60   7  歐法二   111509117   邱芊樺CHIU, CHIEN HUA
41  42   7  風二    111308045   陳令承CHEN,LING-CHENG
9   10   7  土管二   111207229    陳星佑CHEN HSING-YOU
|====================================
| - Group 8 : [23, 71, 40, 6, 64, 63, 31] 7 students
     序號 組別    系級          學號                      姓名
23  24   8  會二乙   111303010        呂泓穎LU,HUNG,YING
71  72   8  資訊二   111703006     周偉杰CHOU, WEI-CHIEH
40  41   8  風一    112308017    嚴吳宗祐YAN WU,ZONG-YOU
6    7   8  外四    109203039   石芷瑜ZHI YU JOIE CHEOK
64  65   8  法二丙   111601168     蔡志承TSAI,CHIH-CHENG
63  64   8  法二丙   111601099     連樂庠LIEN, LE-HSIANG
31  32   8  資一甲   112306053       陳欣妤CHEN, HSIN-YU
|====================================
| - Group 9 : [26, 45, 48, 47, 8, 52] 6 students
     序號 組別    系級          學號                    姓名
26  27   9  統二    111304031   施佳良SHIH, JIA-LIANG
45  46   9  廣四    109405140     樂亭麒YUEH,TING-CHI
48  49   9  傳二甲   111405197       王安睿WANG,AN-RUI
47  48   9  廣電四   109405092    蔡承叡TSAI CHENG JUI
8    9   9  財一甲   112205045       陳怡帆CHEN,YI-FAN
52  53   9  斯四甲   108504001    黃永豪HUANG YONG HAO
|====================================
| - Group 10 : [65, 42, 30, 24, 54, 44] 6 students
     序號  組別    系級          學號                   姓名
65  66   10  法三乙   110601083      李嘉恩LEE- JIA-EN
42  43   10  新聞三   110405100       李若華LI,RUO-HUA
30  31   10  企三甲   110305007     王采逸TSAI YI WANG
24  25   10  會三乙   108303100     蘇昭榮SU,CHAO-JUNG
54  55   10  日四    107102032   謝允文HSIEH, YUN WEN
44  45   10  廣三    110405091     賴玟庭LAI,WEN-TING
|====================================
| - Group 11 : [11, 66, 61, 12, 43, 10] 6 students
     序號  組別    系級          學號                   姓名
11  12   11  經一甲   112208007   彭郁昇PENG, YU SHENG
66  67   11  數三    110701031        王勛WANG, SYUN
61  62   11  法一丙   112601102     盧瑞晨LU, RUI-CHEN
12  13   11  經一甲   112208047     許佑誠HSU,YU-CHENG
43  44   11  新聞四   108405089        郭林洧KUOLYNWEI
10  11   11  土資二   111101057                 顏呈安
|====================================
| - Group 12 : [7, 33, 37, 27, 14, 36] 6 students
     序號  組別    系級          學號                    姓名
7    8   12  社四    109204019    余重岳YU, CHUNG-YUEH
33  34   12  資一乙   112306060      劉冠昕LIU,GUAN-SIN
37  38   12  資二乙   111306072   劉宗軒LIU,TSUNG-HSUAN
27  28   12  統二    111304037    汪明冠WANG,MING-KUAN
14  15   12  經三甲   110208015     許凱程HSU, KAI-CHEN
36  37   12  資二乙   111306070      郭大呈KUO,TA-CHENG

In [104]:
# revised.to_excel(fileLocations[curfile], index=False)